
<div id="result">
</div>
<input type="text" name="num1" id="num1"/>
<input type="text" name="num2" id="num2"/>
<input type="text" name="num3" id="num3"/>
<input type="button" value="click me" onclick="myFunction()">

<script>
function myFunction(){

	var num1 = document.getElementById("num1").value;
	var num2 = document.getElementById("num2").value;
	var num3 = document.getElementById("num3").value;
	
	
	if (num1>num2 && num1>num3){
		document.getElementById("result").innerHTML= num1+" is greater than" + num2 +"and" +num3;
	} else if(num2>num1 && num2>num3){
	    document.getElementById("result").innerHTML= num2+" is greater than" + num1+"and" +num3;
	}else if(num3>num1 && num3>num2){
		document.getElementById("result").innerHTML= num3+" is greater than" + num1+ "and" +num2;
	}
}
</script>

		